openapi: 3.2.0
info:
  title: VATSIM Community API
  version: '2.0'
  description: The VATSIM API is a RESTful API that provides access to data from the VATSIM network.
  termsOfService: https://vatsim.net/docs/policy/user-agreement
  contact:
    name: VATSIM Technology Team
    email: tech@vatsim.net
servers:
- url: https://api.vatsim.net
  description: Production
tags:
- name: Community
paths:
  /v2/members/discord/{discord_user_id}:
    get:
      operationId: members_api_get_vatsim_id
      summary: Get a VATSIM ID from a Discord User ID
      parameters:
      - in: path
        name: discord_user_id
        schema:
          title: Discord User Id
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscordID'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
      description: 'Returns the VATSIM ID associated with a given Discord User ID.


        Requires a VATSIM member to have linked their Discord account

        via the community portal.'
      tags:
      - Community
components:
  schemas:
    NotFound:
      title: NotFound
      type: object
      properties:
        detail:
          title: Detail
          default: Not Found.
          type: string
    DiscordID:
      title: DiscordID
      type: object
      properties:
        id:
          title: Id
          type: string
        user_id:
          title: User Id
          type: string
      required:
      - id
      - user_id
  securitySchemes:
    APIKeyAuth:
      type: apiKey
      description: Preferred method of authentication for APIv2. Use your APIv2 key here.
      in: header
      name: X-API-Key
    LegacyAuth:
      type: apiKey
      description: "\nPreserved for backwards compatibility with API v1, **not recommended** for new integrations.\n\nThe same API key used in the `X-API-Key` header should be used here, but prefixed with `Token `.\n    "
      in: header
      name: Authorization
